* {
  margin: 0;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50vh 0;
}

.foreground {
  transform: translateZ(0);
}

.leaf {
  background-image: url(/images/foreground.png);
  transform: translateZ(-1px) scale(2);
  background-size: cover;
}

.background {
  background-image: url(/images/background.png);
  transform: translateZ(-2px) scale(3.05);
  background-size: cover;
}

.foreground h1 {
  font-size: 6em;
  color: #ffffff;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0%, -50%);
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.content {
  height: fit-content;
  background-color: #fae6c8;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

h1 {
  font-size: 6em;
  text-align: center;
  color: #023020;
  padding: 5% 0% 4% 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header__underline {
  height: 2px;
  width: 80%;
  background-color: #023020;
  margin: auto;
  margin-bottom: 4%;
}
h2 {
  font-size: 3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #023020;
  margin-bottom: 5%;
  text-align: center;
}
p {
  font-size: 1.5em;
  line-height: 200%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #023020;
  margin: auto;
  width: 40%;
}
